.footer-container {
  background-color: #588100;
  color: white;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  bottom: 0;
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  margin: 0 auto; /* Centra el footer */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.icon {
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}
