<div class="profile-card">
  <h2>Nombre:</h2>
  <p>{{nombre}}</p>

  <h3>Apellidos:</h3>
  <p>{{apellidos}}</p>

  <h3>Teléfono:</h3>
  <p>{{telefono}}</p>

  <h3>DNI:</h3>
  <p>{{dni}}</p>

  <h3>Fecha de Nacimiento:</h3>
  <p>{{fechaNacimiento}}</p>

  <h3>Aptitudes:</h3>
  <ul>
    <li *ngFor="let aptitud of aptitudes">{{ aptitud }}</li>
  </ul>

  <button class="edit-button" (click)="onEditClick()">Editar</button>
</div>

<h3>Eventos Apuntados:</h3>
<table>
  <thead>
  <tr>
    <th>Título del Evento</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let evento of eventosApuntados">
    <td>{{ evento.titulo }}</td>
    <td>
      <button class="desapuntarse-button" (click)="desapuntarse(evento.id)">Desapuntarse</button>
    </td>
  </tr>
  </tbody>
</table>
