<ion-content>
  <div class="form-container">
    <h2 class="form-title">Registro de Usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Campo Usuario -->
      <div class="form-field">
        <ion-label class="input-label">Usuario</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
        <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
          <small *ngIf="registerForm.get('username')?.errors?.['required']">El usuario es requerido.</small>
        </div>
      </div>

      <!-- Campo Email -->
      <div class="form-field">
        <ion-label class="input-label">E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">El email es requerido.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">El email no es válido.</small>
        </div>
      </div>

      <!-- Campo Contraseña -->
      <div class="form-field">
        <ion-label class="input-label">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
        </div>
      </div>

      <!-- Campo Repetir Contraseña -->
      <div class="form-field">
        <ion-label class="input-label">Repetir Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
        <div *ngIf="registerForm.errors?.['mismatch'] && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
          <small>Las contraseñas no coinciden.</small>
        </div>
      </div>

      <!-- Botón de Registro -->
      <button type="submit" class="submit-button">
        Registrarse
      </button>
    </form>
  </div>
</ion-content>
