<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let evento of eventos; let i = index">
      <ion-card>
        <ion-img
          [src]="'assets/images/eventos' + (i + 1) + '.jpg'"
          class="evento-imagen"
        ></ion-img>
        <ion-card-header>
          <ion-card-title>{{ evento.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="evento-descripcion">{{ evento.descripcion }}</p>
          <p><strong>📍 Ubicación:</strong> {{ evento.ubicacion }}</p>
          <p><strong>🎯 Aptitudes buscadas:</strong></p>
          <ul>
            <li *ngFor="let aptitud of evento.aptitudes">{{ aptitud }}</li>
          </ul>
        </ion-card-content>
<!--        <div class="boton-wrapper">-->
<!--          <button class="boton-apuntarse" (click)="apuntarse(evento)">-->
<!--            Apuntarse-->
<!--          </button>-->
<!--        </div>-->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
