.inicio-page {
  position: relative;
  background: transparent; /* Fondo transparente para el contenido de Ionic */
}

.background-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background: url('../../assets/images/reciclaje.gif') no-repeat center center;
  background-size: cover;
  z-index: -1; /* Envía el fondo detrás del contenido */
}

.content {
  position: relative;
  text-align: center;
  color: #1b5e20; /* Verde oscuro para el texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1; /* Mantiene el contenido visible sobre el fondo */
}

.content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.center-image {
  display: block;
  margin: 0 auto 20px; /* Centra la imagen y añade margen inferior */
  max-width: 200px; /* Tamaño máximo para la imagen */
  height: auto; /* Mantiene la proporción */
  border-radius: 50%; /* Convierte la imagen en un círculo */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px; /* Espaciado entre los botones */
}

.register-button,
.login-button {
  background: #4caf50; /* Verde ambiental */
  color: white;
  font-size: 1.3rem; /* Tamaño más grande para mayor visibilidad */
  font-weight: bold;
  border-radius: 8px; /* Bordes más redondeados */
  padding: 12px 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.register-button:hover,
.login-button:hover {
  transform: scale(1.1);
}

.register-button:active,
.login-button:active {
  transform: scale(0.95);
}
