<ion-content class="inicio-page">
  <!-- Contenedor del GIF de fondo -->
  <div class="background-gif"></div>

  <!-- Contenido principal -->
  <div class="content">
    <h1>¡Únete a nuestra causa! 🌿</h1>
    <p>Buscamos voluntarios apasionados para cuidar nuestro planeta. 🌍</p>

    <!-- Imagen entre el texto y los botones -->
    <img src="../../assets/images/planetaInicio.png" alt="Planeta ecológico" class="center-image">

    <div class="button-container">
      <ion-button class="register-button" (click)="onRegisterClick()">Regístrate</ion-button>
      <ion-button class="login-button" (click)="onLoginClick()">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>
