<div class="inicio-container">
  <header class="header">
    <img src="assets/LOGO.png" alt="Ecoloco Logo" class="logo" />
    <nav class="nav">
      <a routerLink="/inicio" routerLinkActive="active-link">Inicio</a>
      <a routerLink="/quienes-somos" routerLinkActive="active-link">Quiénes somos</a>
      <a href="#">Contacto</a>
      <a href="#">Eventos</a>
    </nav>
    <button class="login-button">Iniciar Sesión</button>
  </header>

  <main class="main-content">
    <h1>Bienvenido a Ecoloco</h1>
    <p>
      Únete a nosotros para marcar la diferencia en el mundo. Regístrate como voluntario para eventos de ayuda con desastres naturales, recogida de basura, y más.
    </p>
  </main>

  <footer class="footer">
    <p>Síguenos en nuestras redes sociales:</p>
    <div class="social-links">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
  </footer>
</div>
