
  <div class="gestion-container">
    <h1 class="gestion-titulo">Gestión de Ecoloco</h1>
    <p class="gestion-intro-text">
      Bienvenido a la plataforma de gestión de Ecoloco, un espacio diseñado para facilitar la administración y participación en eventos ambientales. Aquí puedes gestionar tu perfil personal para mantener tu información actualizada y revisar tu historial de participación. Si tienes permisos de administrador, también podrás crear nuevos eventos para promover iniciativas ecológicas y gestionar los eventos existentes para maximizar su impacto.
    </p>
    <p class="gestion-intro-text">
      Nuestra misión es construir una comunidad más comprometida con el medio ambiente, y este panel te brinda las herramientas necesarias para hacerlo. Explora tus opciones y ayúdanos a marcar la diferencia.
    </p>
    <div class="botones-container">
      <button class="boton-gestion" [routerLink]="['/perfil']">Perfil</button>
      <button class="boton-gestion" [routerLink]="['/creacionEvento']">Crear Evento</button>
    </div>
  </div>

